.Box_1{
width: 430px;
height: 500px;
background-color: rgb(202, 224, 176);
margin: auto;
text-align: center;
border: 6px solid rgb(218, 176, 38);
margin-top: 50px;

}

.Box_1 h1{
    color: rgba(25, 9, 247, 0.986);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .Article_1, .Article_2, .Article_3{
    font-size: 23px;
    display: inline; 
    color:black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
 }

#N1 , #N2 , #N3{
     display: inline;
     color:darkgreen;
     font-weight: bold;
     font-size: 27px;
}
#Totale{
    color:brown;
    font-weight: bold;
    font-size: 35px;
}
.ico{
    width: 20px;
    margin: auto;
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}
#b1p , #b2p ,#b3p{
    height: 30px;
    width: 30px;
    background-color:chartreuse;
    font-size: 20px;
    border: solid 3px black;
}

#b1- , #b2- ,#b3-{
    height: 30px;
    width: 30px;
    background-color:gold;
    font-size: 20px;
    border: solid 3px black;
}

#Delete_1 , #Delete_2 , #Delete_3{
    background-color: red;
    color: white;
    height: 33px;
    margin-left: 5px;
    font-size: 17px;
}